.employee-info-section {
  padding: 90px   0;
  background: linear-gradient(135deg, #e8eff7, #cdddf0);
  text-align: center;
}

.info-heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
  margin-bottom: 40px;
}

.flip-book {
  width: 850px;
  height: 400px;
  margin: auto;
  position: relative;
  perspective: 1200px;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.flip-book.flip {
  transform: rotateY(180deg);
}

.info-card {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(45, 156, 255, 0.3);
  backface-visibility: hidden;


  border-top: 6px solid #2d9cff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left;
}

.back {
  transform: rotateY(180deg);
}

.info-card::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.12;
  border-radius: 20px;
  pointer-events: none;
}

.card-title {
  color: #2d9cff;
  margin-bottom: 35px;
  font-size: 1.6rem;
  font-weight: 600;
}

.info-row {
  display: grid;
  grid-template-columns: 40px 160px auto;
  align-items: center;
  gap: 60px;
  margin-bottom: 18px;
  width: 100%;
}

.info-row i {
  color: #2d9cff;
  font-size: 1.4rem;
}

.info-row span {
  color: #333;
  font-weight: 600;
  font-size: 1.05rem;
}

.info-row p,
.info-link {
  margin: 0;
  font-weight: 500;
  color: #111;
  font-size: 1.03rem;
}

.info-link {
  color: #2d9cff;
  text-decoration: none;
}

.info-link:hover {
  text-decoration: underline;
}

.flip-btn {
  margin-top: 20px;
  padding: 12px 36px;
  border-radius: 30px;
  border: 2px solid #2d9cff;
  background: transparent;
  color: #2d9cff;
  cursor: pointer;
  font-size: 1.05rem;
  transition: 0.3s;
}

.flip-btn:hover {
  background: #2d9cff;
  color: #ffffff;
}
