.active-link {
  background-color: #0d6efd !important;
  color: #fff !important;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.active-link:hover {
  opacity: 0.9;
}

.company-logo-img {
  height: 60px;
  width: auto;
  object-fit: contain;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
}

.nav-link {
  color: #eaeaea !important;
  font-size: 1rem;
}

.nav-link:hover {
  color: #0d6efd !important;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar {
  background: linear-gradient(120deg, #f9fbff, #e8f1ff);
}
